/*=======================================================
	Portfolio Section
=======================================================*/
.section-header{
  margin-bottom:80px;
}
.portfolio-filters {
  position:relative;
  list-style:none;
  font-size:0;
  margin:0;
  padding:0;
}
.portfolio-filters{
  margin-bottom:25px;
}
.portfolio-filters > li{
  display:inline-block;
  *display:inline;
  *zoom:1;
  margin-right:25px;
}
.portfolio-filters > li > a{
  display:block;
  font-size:16px;
  font-weight:500;
  color:rgba(0,0,0,.4);
  text-decoration:none;
  text-transform:uppercase;
  letter-spacing:4px;
  padding:15px 0;
  margin:-15px 0;
}
.portfolio-filters > li > a.active,
.portfolio-filters > li > a:hover{
  color:#202020;
}
