<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="text-center text-primary">琳琳的电子简历</h1>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-8 col-md-offset-2">
      <carousel>
        <slide>
          <img src="assets/img/gallery/project1/preview_s/1.png" class="img-rounded img-responsive" alt="First slide">
          <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </slide>
        <slide>
          <img src="assets/img/gallery/project1/preview_s/2.png" class="img-rounded img-responsive" alt="Second slide">
          <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </slide>
        <slide>
          <img src="assets/img/gallery/project1/preview_s/3.png" class="img-rounded img-responsive" alt="Third slide">
          <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </slide>
      </carousel>
    </div>
  </div>
  <div class="row" style="margin-top: 1em">
<!--    <div class="col col-sm-8 col-md-offset-2">
      <div class="btn-group btn-group-justified" role="group">
        <a href="" class="btn btn-customer">AAA</a>
        <a href="" class="btn btn-customer">bbb</a>
      </div>
    </div>-->
    <div class="col col-sm-3 col-md-offset-3">
      <button class="btn btn-default btn-block btn-lg">查看更多</button>
    </div>
    <div class="col col-sm-3 com-md-offset-1">
      <button class="btn btn-default btn-block btn-lg">下载简历</button>
    </div>


  </div>


</div>

